#container {
	background-image: url('https://png.pngtree.com/background/20210710/original/pngtree-business-resume-background-material-picture-image_999584.jpg');
        background-repeat: no-repeat;
        background-size: cover;
	color: #333;
	font-family: lobster;
	font-size: 20px;
	text-align: center;
	padding: 18px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#foto {
	border-radius: 60%;
	margin-top: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

ul {
	list-style: none;
	padding: 0;
	margin: 20px 0;
}

li {
	margin: 10px 0;
}


